main{
    display: flex;
    flex-direction: row;
    color: aliceblue;
}

.stats {
    flex:1;
    text-align: left;
    padding: 1%;
}

.ajout_livre {
    flex:1;
    text-align: left;
    padding: 1%; 
    border-left: solid white;
}

h2 {
    text-align: center;
}

.horizontal {
    display: flex;
    flex-direction: row;
}

.input {
    margin-left: 10px;
}