.apropos-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.apropos-container h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
    color: #333;
}

.apropos-container p {
    font-size: 1.2em;
    color: #666;
    margin-bottom: 40px;
}

.team-section {
    margin-top: 40px;
}

.team-member {
    margin-bottom: 40px;
    text-align: left;
    display: flex;
    align-items: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.team-img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 20px;
}

.team-member h3 {
    margin: 0 0 10px;
    font-size: 1.5em;
    color: #333;
}

.team-member p {
    margin: 5px 0;
    font-size: 1em;
    color: #666;
}

@media (max-width: 600px) {
    .team-member {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .team-img {
        margin-right: 0;
        margin-bottom: 20px;
    }
}